#banner{
    background-image: url(Banner_Image.png);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    
}
h1{
    text-align: center;
    font-size: 75px;
    color: white;
    padding: 100px;
}